.services_wrapper {
  display: grid;
  justify-content: center;
  padding-bottom: 25px;
}

.header {
  justify-items: center;
}

.header__title {
  font-size: 36px;
  margin-bottom: 5px;
  margin-top: 10px;
  color: var(--textColor);
}

.container {
  text-align: center;
  display: grid;
}

.services {
  display: grid;
  gap: 20px;
}

.services__card {
  border: 1px solid #5ba282;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #5ba282;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  max-width: 550px;
  min-height: 250px;
  word-wrap: break-word;
  word-break: break-word;
}

.services__card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.services__card_active{
  background-color: #702626;

}

.services__image {
  width: 550px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.services__image_active {
  width: 550px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
  transition: clip-path 0.3s ease;
}


.services__name_service {
  margin: 15px;
  font-size: 18px;
  color: var(--textColor);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__details {
  margin: 5px;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  min-height: 145px;
  max-height: 500px;
  display: grid;
  align-content: space-between;
}

.services__details p {
  margin: 1px;
  color: var(--textColor);
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.details__wrapper {
  display: flex;
  justify-content: space-around;
}
.contact_us {
   padding: 25px 5px 10px;
   background-color: transparent;
 }

.services__card {
  position: relative;
  border: 1px solid #5ba282;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #5ba282;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  max-width: 550px;
  min-height: 250px;
  word-wrap: break-word;
  word-break: break-word;
}

.indicator {
  position: absolute;
  top: 10px;
  left: 94%;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(70, 68, 68, 0.93);
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.44);
  z-index: 3;
  transition: background-color 0.3s ease;
}

.services__card_active .indicator {
  background-color: green;
}

.selected_services {

}

@media (max-width: 480px) {

}

@media (min-width: 768px) {
  .container {
    text-align: center;
    width: 100%;
    display: grid;
  }

  .contact_us {
    border-radius: 10px;
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {

  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Створення двох колонок однакової ширини */
    gap: 20px; /* Відстань між колонками, за бажанням можна змінити */
  }
  /*.container {*/
  /*  text-align: center;*/
  /*  width: 100%;*/
  /*  display: grid;*/
  /*  grid-template-columns: repeat(2, 1fr); !* Створення двох колонок однакової ширини *!*/
  /*  gap: 20px; !* Відстань між колонками, за бажанням можна змінити *!*/
  /*}*/
}

