.services {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.services__card {
  position: relative;
  border: 1,5px solid var(--mainbg);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--mainbg);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  height: 350px;
  word-wrap: break-word;
  word-break: break-word;
}

.services__image {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 8px;
}

.services__image_active {
  width: 100%;
  height: calc(100% - 20% - 20%);
  object-fit: cover;
  border-radius: 8px;
}

.services__name_service {
  height: auto;
  min-height: 48px;
  font-size: var(--font-size-named-servise);
  font-family: var(--font-family-service-title);
  color: var(--textColor);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details__wrapper {
  display: flex;
  justify-content: space-around;
}

.services__details {
  margin: 5px;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  display: grid;
  justify-items: center;
  width: 480px;
}

.details__description {
  font-family: var(--font-family-service-description);
  font-size: var(--font-size-detailed-description);
  color: var(--textColor);
  margin: 2px;
  text-align: justify;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.indicator {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(70, 68, 68, 0.93);
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.44);
  z-index: 3;
  transition: background-color 0.3s ease;
}

.services__card_active .indicator {
  background-color: green;
}



@media (min-width: 750px) {
  .details__description {

    font-family: var(--font-family-service-description);
    font-size: var(--font-size-detailed-description);
    color: var(--textColor);
    margin: 2px;
    text-align: justify;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

}


@media (max-width: 480px) {
  .services {
    gap: 10px;
  }

  .indicator {
    top: 10px;
    left: 90%;
  }
}


@media (min-width: 1024px) {
  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
