/*.servicesPage {*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*}*/

.servicesPage__header {
    margin-bottom: 20px;
}

.servicesPage__title {
    font-size: 36px;
    margin-bottom: 10px;
}

.servicesPage__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 850px) {
    .servicesPage__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .servicesPage__grid {
        grid-template-columns: 1fr;
    }
}


.servicesPage__card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s;
}

.servicesPage__card:hover {
    transform: translateY(-5px);
}

.servicesPage__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.servicesPage__text {
    padding: 10px;
    font-size: 18px;
}
