.wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}


@media (max-width: 480px) {
    .wrapper {
        max-width: 480px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 1200px;
    }
}
