/* selectedService.module.css */
.container {
    display: flex;
    flex-direction: column; /* Робимо вертикальне розташування */
    gap: 20px; /* Відступ між рядками */

}

.service_details {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center; /* Вирівнювання по вертикалі */
    gap: 10px; /* Відступ між колонками */
    padding: 2px;
    border: 3px solid rgb(65, 112, 104);
    border-radius: 5px;
}

.delete_service {
    width: 30px;
    height: 30px;
    background-color: #EF4934;
    border-radius: 50%;
    border: 3px solid rgba(155, 35, 35, 0.93);
    justify-self: center; /* Центруємо по горизонталі */

}

.service_name {
    display: flex;
    font-size: 20px;
    align-items: center;
    color: var(--textColor);
}
