.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
}


header {
    height: var(--header-height);
    background-color: var(--custom-green);
    padding: 0;
    margin: 0;
}

.main_content {
    height: calc(100vh - var(--header-height) - var(--footer-height));
    flex: 1;
    /*padding: 20px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--bgColor);
}

footer {
    height: var(--footer-height);
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
}

