.header {
  padding: 0;
  margin: 0;
  display: grid;
  align-items: center;
  position: fixed; /* Фіксуємо хедер */
  top: 0; /* Прив'язуємо до верхньої частини екрану */
  left: 0;
  width: 100%; /* Розтягуємо на всю ширину */
  z-index: 5; /* Забезпечуємо пріоритет над іншим контентом */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легке тіньове оформлення */
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px; /* Додано більше відступу для зручності */
}

.logo {
  padding: 5px 0;
}

.header__inner_left {
  display: flex;
  gap: 80px;
}

.burger {
  display: none;
  font-size: 35px;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: var(--textColor);
}

.burger:hover {
  color: var(--secondaryButtonColor);
  transform: scale(1.1);
}

.nav {
  display: flex;
}

.navList {
  font-size: 25px;
  display: flex;
  gap: 45px;
}

.navList a {
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.activeLink {
  color: var(--secondaryButtonColor);
}

.inactiveLink {
  color: var(--textColor);
}

.navList a:hover {
  color: var(--secondaryButtonColor);
}

@media (max-width: 767px) {
  .header__inner_left {
    display: flex;
    gap: 50px;
  }

  .burger {
    display: block;
  }

  .nav {
    display: none;
    position: absolute;
    top: var(--header-height);
    left: 0;
    background-color: var(--custom-green);
    width: 100%;
    z-index: 1000;
  }

  .nav.open {
    display: block;
  }

  .navList {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0;
  }
}

@media (max-width: 767px) {
  .header__inner_left {
    display: flex;
    gap: 20px;
  }
}
