.container {
  /* Контейнер форми */
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 1px;
}

.subtitle {
  color: #114f2e;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fields {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.field_group {
  position: relative;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #417257;
  border-radius: 5px;
  background-color: transparent;
  color: var(--textColor);
}

.textarea {
  padding: 10px;
  resize: none;
  width: 94%;
  height: 150px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
.error_messages {
  margin: 5px 25px;
  color: var(--custom-green)
}
.button {
  background-color: var(--custom-green);
  color: var(--textColor);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.button_no_active {
  background-color: #8189a6;
  color: #da402c;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background-color: #396455;
}

