.not_found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.not_found__title {
    font-size: 2rem;
}

.not_found__text {
    border-radius: 40px;
    margin-top: 30px;
}

.not_found__button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--custom-green);
    color: var(--textColor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.not_found__button:hover {
    background-color: #8a0d0d;
}

.not_found__link:hover {
    background-color: var(--secondaryButtonHoverColor);
}

@media (max-width: 480px) {

    .not_found__title {
        font-size: 1rem;
    }

    .not_found__title {
        font-size: 1rem;
    }
}

@media (max-width: 1400px) {

    .not_found__title {
        font-size: 3rem;
    }

    .not_found__title {
        font-size: 3rem;
    }
}


